@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}

.search_bar {
  padding-left: 50px;
  font-weight: 500;
  color: black;
  font-size: 16px;
}

.search_bar::placeholder {
  font-weight: 500;
  color: black;
  font-size: 16px;
  text-align: left;
  left: 50px;
  position: absolute;
}

/* Slider.css */
.swiper-button-next {
  top: 50%; /* Center the arrows vertically within the slide */
  transform: translateX(-450%);
}

.swiper-button-prev {
  top: 50%; /* Center the arrows vertically within the slide */
  transform: translateX(450%);
}

@media (max-width: 768px) {
  .swiper-button-next, .swiper-button-prev {
    transform: translateX(0);
    right: 10px; /* Position the arrows on the right side of the slide */
  }
}

@media (max-width: 1024px) {
  .swiper-button-next, .swiper-button-prev {
    transform: translateX(0);
  }
}

