@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  font-family: "Inter", sans-serif;
}

.search_bar {
  padding-left: 50px;
  font-weight: 500;
  color: black;
  font-size: 16px;
}

.search_bar::placeholder {
  font-weight: 500;
  color: black;
  font-size: 16px;
  text-align: left;
  left: 50px;
  position: absolute;
}

/* Slider.css */
.mySwiper .swiper-button-next, .mySwiper
.swiper-button-prev {
  color: black;
  background: #f3f3f3;
  padding: 20px;
  border-radius: 50%; /* Pentru a face butoanele rotunde */
  border: 3.5px solid #dddddd;
  top: 50%;
  transform: translateY(-50%); /* Folosim translateY pentru a centra butoanele vertical */
  margin-top: 0; /* Eliminăm marginul de sus pentru a păstra butoanele la aceeași înălțime */
}

.swiper-button-next {
  transform: translateX(-370%); /* Mușcăm butonul "next" la stânga pentru a lăsa spațiu între ele */
}

.swiper-button-prev {
  transform: translateX(270%); /* Mușcăm butonul "prev" la dreapta pentru a lăsa spațiu între ele */
}



@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    transform: translateX(0);
    right: 10px; /* Position the arrows on the right side of the slide */
  }
}

@media (max-width: 1024px) {
  .swiper-button-next,
  .swiper-button-prev {
    transform: translateX(0);
  }
}

#checkbox {
  display: none;
}

.toggle {
  z-index: 11;
  right: 0;
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px;
  justify-content: center;
  gap: 7px;
  transition-duration: 0.5s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: black;
  border-radius: 4px;
}

#bar2 {
  transition-duration: 0.8s;
}

#bar1 {
  width: 50%;
}

#bar2 {
  width: 75%;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: 0.1s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}

.mobile-menu {
  position: absolute;
  top: -100vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
  justify-content: center;
  text-align: center;
  transform: translateY(0);
  transition-duration: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.mobile-menu.active {
  transform: translateY(100%);
}
